<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="/static/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum WEB</title>

</head>

<body>
    

    <h1 class="titulo-principal">Seja bem-vindo a central de criação de POSTAGENS!!!</h1>
    <h2 class="subtitulo-principal">Preencha os campos abaixo para criar uma nova postagem:</h2>


    <form action="/create" method="post">
        <input name="titulo" placeholder="Digite aqui o título"> <br>
        <input name="resumo" placeholder="Resumo"> <br>
        <input name="conteudo" placeholder="Digite aqui o conteudo"> <br>
        <input name="autor" placeholder="Digite aqui o autor">  <br>
        <button type="submit"> Enviar dados! </button>
    </form>

</body>

<script src="/static/js/script.js"></script>

</html>