<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="/static/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum WEB</title>

</head>

<body>

    <h1 class="titulo-principal">Página de exclusão de POSTAGENS!!!</h1>
    <h2 class="subtitulo-principal">Selecione o post que deseja excluir:</h2>

    <form action="/del" method="post">
        <input name="id" placeholder="Digite aqui o id do post que deseja excluir"> <br>
        <button type="submit"> Enviar dados! </button>
    </form>
    
</body>

<script src="/static/js/script.js"></script>

</html>