<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="/static/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum WEB</title>

</head>

<body>

    <header>
        <h1 class="titulo-principal">Fórum WEB</h1>
        <h2 class="subtitulo-principal">Fique a vontade para fazer publicações!!!</h2>
    </header>



    <a href="/templates/create.html" class="adicionar-post">Adicione a sua POSTAGEM!</a>

    <a href="/templates/edit.html" class="editar-post">Edite a sua POSTAGEM!</a>


    <a href="/templates/del.html" class="deletar-post">Delete a sua POSTAGEM!</a>


    <main>
        <section class="posts">
            {% if posts %}
                {% for post in posts %}
                <article class="post">
                    {% for chave, valor in post.items() %}
                        <p><strong>{{ chave }}:</strong> {{ valor }}</p>
                    {% endfor %}
                </article>
                {% endfor %}
            {% else %}
                <article class="post">
                    <p>Nenhum post encontrado.</p>
                </article>
            {% endif %}
        </section>
    </main>


</body>

</html>