<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum WEB</title>

</head>

<body>

    <header>
        <h1 class="titulo-principal">Fórum WEB</h1>
        <h2 class="subtitulo-principal">Fique a vontade para fazer publicações!!!</h2>
    </header>



    <button type="button", class="adicionar-post">

        <a href="create.html">Adicione a sua POSTAGEM!</a>

    </button>

    <button type="button", class="editar-post">

        <a href="edit.html">Edite a sua POSTAGEM!</a>

    </button>


    <button type="button", class="deletar-post">

        <a href="del.html">Delete a sua POSTAGEM!</a>

    </button>


    <main>
        <section class="posts">
            {% for post in posts %}
            <article class="post">
                {% for chave, valor in post.items() %}
                    <p><strong>{{ chave }}:</strong> {{ valor }}</p>
                {% endfor %}
            </article>
            {% endfor %}
        </section>
    </main>


</body>


</html>